# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/

# macOS
macos/Pods/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#backend
node_modules/

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/

# macOS
macos/Pods/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#backend
node_modules/
ansible/inventory.ini
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
tfplan
plan.txt